body{
    background-color: beige;
}
header{
    text-align: center;
    background-color: lightblue;
}
#headtitle{
    font-family: 'Montserrat';
}

nav{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav div{
    padding: 5px;
}