body{
    background-color: #EDDDD0;
}
header{
    text-align: center;
    background-color: #A6CAD4;
}
h1{
    font-family: 'Montserrat';
    color: #334259;
}
nav div{
    padding: 5px;
}
footer{  
   text-align: center;
    background-color: #A6CAD4;
}
section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}
.firstheading{
    grid-column: 1/-1;
}

section p {
    grid-row: 2/3;
}
img{
    padding: 15px 25px;
}
.p2{
    grid-row: 3/4;
}
    

@media(max-width: 600px)
{
.courses{
    display: grid;
    grid-template-columns: 1fr;
}
.blockend{
    display: grid;
}
.courseblock p{
    grid-row: 2/3
}
}


@media (min-width: 600px){
    .courses{
        display:grid;
        grid-template-columns: 1fr;
    }
    .courseblock{
        margin-top:10px;
    }
    .courseblock .courseend{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid black;
    }
    .courseblock a{
        min-width: 300px;
    }
    .courseblock > p{
        margin-left: 400px;
    }
    .courseend{
        display: flex;
        height: 40px
    }
    .coursenav{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}
    
