body{
    background-color: #EDDDD0;
}
header{
    text-align: center;
    background-color: #A6CAD4;
}
h1{
    font-family: 'Montserrat';
    color: #334259;
}
nav{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
nav div{
    padding: 5px;
}
footer{  
   text-align: center;
    background-color: #A6CAD4;
}
section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}
.firstheading{
    grid-column: 1/-1;
}

section p {
    grid-row: 2/3;
}
img{
    padding: 15px 25px;
}
.p2{
    grid-row: 3/4;
}
@media (min-width: 600px){
.courses{
    display:grid;
    grid-template-columns: 1fr;
}
.courseblock{
    display: flex;
    margin-top:10px;
}
.courseblock a{
    min-width: 300px;
}
.courseblock p{
    margin-left: 60px;
}
.courseend{
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid black;
    height: 40px
}
}
@media (max-width: 600px){
    #courseheading{


    }
}